{#
/**
 * @file
 * Page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page__wrapper">
  {% if page.top %}
    {{ page.top }}
  {% endif %}

  {{ page.header }}

  <div class="container">
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.navigation }}

    <div class="row">
      {{ page.sidebar_first }}

      {# The main content of the site, which changes. #}
      <main role="main"{{ content_attributes }}>
        <a id="main-content" tabindex="-1"></a>
        {{ page.help }}
        {{ page.content }}
      </main>

      {{ page.sidebar_second }}
    </div>
  </div>

  {{ page.footer }}

  {% if page.bottom %}
    {{ page.bottom }}
  {% endif %}
</div>
