{#
/**
 * @file
 * Page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page-wrapper">
  {% if page.top %}
    {{ page.top }}
  {% endif %}

  <header class="page__header bg-primary" aria-label="{{ 'Site header'|t }}" role="banner">
    <div class="container">
      {{ page.header }}
    </div>
  </header>

  <main class="page__main container" role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.navigation }}

    <div class="page__content">
      {{ page.help }}
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="page__sidebar" role="complementary"{{ sidebar_first_attributes }}>
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="page__sidebar" role="complementary"{{ sidebar_second_attributes }}>
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer container">
      {{ page.footer }}
    </footer>
  {% endif %}

  {% if page.bottom %}
    {{ page.bottom }}
  {% endif %}
</div>
