{#
/**
 * @file
 * Page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page__wrapper">
  {% if page.top %}
    {{ page.top }}
  {% endif %}

  {{ page.header }}

  <div class="page__content container">

    {# Breadcrumbs, navigation and other pre-content regions. #}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.navigation }}

    {# The main content of the site, which changes. #}
    <main class="page__main" role="main">
      <a id="main-content" tabindex="-1"></a>
      {{ page.help }}
      {{ page.content }}
    </main>

    {# Sidebars. #}
    {{ page.sidebar_first }}
    {{ page.sidebar_second }}
  </div>

  {{ page.footer }}

  {% if page.bottom %}
    {{ page.bottom }}
  {% endif %}
</div>
