{#
/**
 * @file
 * Page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page-wrapper">
  {% if page.top %}
    {{ page.top }}
  {% endif %}

  <header class="page__header" aria-label="{{ 'Site header'|t }}" role="banner">
    <div class="container">
      {{ page.header }}
      {{ page.primary_nav }}
    </div>
  </header>

  <main class="page__main container" role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.secondary_nav }}

    <div class="page__content">
      {{ page.help }}
      {{ page.content }}
    </div>

    {% if page.sidebar_first %}
      <aside class="page__sidebar" role="complementary"{{ sidebar_first_attributes }}>
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="page__sidebar" role="complementary"{{ sidebar_second_attributes }}>
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer container">
      {{ page.footer }}
    </footer>
  {% endif %}



  {% if page.bottom %}
    {{ page.bottom }}
  {% endif %}
</div>


<hr>

  <div class="col">
    <p><a href="" class="button">Button</a></p>
    <p><a href="" class="button button--lg">Button</a></p>
    <p><a href="" class="button button--sm">Button</a></p>
    <p><a href="" class="button button--sm disabled">Button</a></p>

    <p><a href="" class="button button--plain">Button</a></p>
    <p><a href="" class="button button--plain button--lg">Button</a></p>
    <p><a href="" class="button button--plain button--sm">Button</a></p>
    <p><a href="" class="button button--plain button--sm disabled">Button</a></p>

    <p><a href="" class="button button--link">Button</a></p>
    <p><a href="" class="button button--link button--lg">Button</a></p>
    <p><a href="" class="button button--link button--sm">Button</a></p>
    <p><a href="" class="button button--link button--sm disabled">Button</a></p>
  </div>

  <div class="col">
    <p><a href="" class="button button--green">Button</a></p>
    <p><a href="" class="button button--green button--lg">Button</a></p>
    <p><a href="" class="button button--green button--sm">Button</a></p>
    <p><a href="" class="button button--green button--sm disabled">Button</a></p>

    <p><a href="" class="button button--plain--green">Button</a></p>
    <p><a href="" class="button button--plain--green button--lg">Button</a></p>
    <p><a href="" class="button button--plain--green button--sm">Button</a></p>
    <p><a href="" class="button button--plain--green button--sm disabled">Button</a></p>

    <p><a href="" class="button button--link--green">Button</a></p>
    <p><a href="" class="button button--link--green button--lg">Button</a></p>
    <p><a href="" class="button button--link--green button--sm">Button</a></p>
    <p><a href="" class="button button--link--green button--sm disabled">Button</a></p>
  </div>
  <div class="col">
    <p><a href="" class="button button--primary">Button</a></p>
    <p><a href="" class="button button--primary button--lg">Button</a></p>
    <p><a href="" class="button button--primary button--sm">Button</a></p>
    <p><a href="" class="button button--primary button--sm disabled">Button</a></p>

    <p><a href="" class="button button--plain--primary">Button</a></p>
    <p><a href="" class="button button--plain--primary button--lg">Button</a></p>
    <p><a href="" class="button button--plain--primary button--sm">Button</a></p>
    <p><a href="" class="button button--plain--primary button--sm disabled">Button</a></p>

    <p><a href="" class="button button--link--primary">Button</a></p>
    <p><a href="" class="button button--link--primary button--lg">Button</a></p>
    <p><a href="" class="button button--link--primary button--sm">Button</a></p>
    <p><a href="" class="button button--link--primary button--sm disabled">Button</a></p>
  </div>

  <div class="col">
    <p><a href="" class="button button--red">Button</a></p>
    <p><a href="" class="button button--red button--lg">Button</a></p>
    <p><a href="" class="button button--red button--sm">Button</a></p>
    <p><a href="" class="button button--red button--sm disabled">Button</a></p>

    <p><a href="" class="button button--plain--red">Button</a></p>
    <p><a href="" class="button button--plain--red button--lg">Button</a></p>
    <p><a href="" class="button button--plain--red button--sm">Button</a></p>
    <p><a href="" class="button button--plain--red button--sm disabled">Button</a></p>

    <p><a href="" class="button button--link--red">Button</a></p>
    <p><a href="" class="button button--link--red button--lg">Button</a></p>
    <p><a href="" class="button button--link--red button--sm">Button</a></p>
    <p><a href="" class="button button--link--red button--sm disabled">Button</a></p>
  </div>

  <div class="col">
    <p><a href="" class="button button--orange">Button</a></p>
    <p><a href="" class="button button--orange button--lg">Button</a></p>
    <p><a href="" class="button button--orange button--sm">Button</a></p>
    <p><a href="" class="button button--orange button--sm disabled">Button</a></p>
    <p><a href="" class="button button--plain--orange">Button</a></p>
    <p><a href="" class="button button--plain--orange button--lg">Button</a></p>
    <p><a href="" class="button button--plain--orange button--sm">Button</a></p>
    <p><a href="" class="button button--plain--orange button--sm disabled">Button</a></p>

    <p><a href="" class="button button--link button--link--orange">Button</a></p>
    <p><a href="" class="button button--link button--link--orange button--lg">Button</a></p>
    <p><a href="" class="button button--link button--link--orange button--sm">Button</a></p>
    <p><a href="" class="button button--link button--link--orange button--sm disabled">Button</a></p>
  </div>
