{#
/**
 * @file
 * Page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if page.top %}
  {{ page.top }}
{% endif %}

<header class="header" role="banner" aria-label="{{ 'Site header'|t }}">
  <div class="container">
    {{ page.header }}
    {{ page.primary_nav }}
  </div>
</header>

{% if page.highlighted %}
  <section class="container">
    {{ page.highlighted }}
  </section>
{% endif %}

<main role="main" class="main container">
  <a id="main-content" tabindex="-1"></a>
    {{ page.secondary_nav }}

    {{ page.breadcrumb }}

    <section class="main__content">
      {{ page.help }}
      {{ page.content }}
    </section>

    {% if page.sidebar_first %}
      <div{{ sidebar_first_attributes }}>
        <aside class="main__sidebar" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      </div>
    {% endif %}

    {% if page.sidebar_second %}
      <div{{ sidebar_second_attributes }}>
        <aside class="main__sidebar" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      </div>
    {% endif %}
</main>

{% if page.footer %}
  <footer class="footer">
    {% block footer %}
      <div class="container">
        {{ page.footer }}
      </div>
    {% endblock %}
  </footer>
{% endif %}

{% if page.bottom %}
  {{ page.bottom }}
{% endif %}
