{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends 'region.html.twig' %}

{% block content %}
  <footer{{ attributes.addClass('container') }}>
    &copy; <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name|default('Home') }}</a>
    {{ content }}
    <img class="footer__logo" src="{{ directory ~ '/img/logo_footer.svg' }}" alt="{{ site_name|default('Home') }}">
  </footer>
{% endblock %}
